html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* CONTAINER CSS */

.cnt-container {
    border-right:black solid 2px;
    border-left: black solid 2px; 
    margin: 0;
    height: auto;
    margin-left: 51px;
    height: 100%;
    display: flex;
}

/* CONTAINER CSS */

/* CALENDAR CSS */
#calendar {
    border: solid 2px black;
    margin: 10px 0 10px 0;
    padding: 8px;
    top: 10px;
    right: 10px;
    height: 500px;
    width: 500px;
    position: absolute;
    display: flexbox;
}

#calhead {
    text-align: center;
    padding: 2px;
}

#calendar td {
    border: 1px black solid;
    height: 60px;
    width: 60px;
}

#calendar td.naDate{
    background-color:rgb(182, 176, 176);
}

#calendar td#today{
    background-color:turquoise;
}

.dateNum {
    position: relative;
    top: -25px;
    left: 1px;
}

#calendar table {
    right: 0;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    height: 480px;
    width: 480px;
}

/* CALENDAR CSS */

/* SIDEBAR */
.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightblue;
    overflow-x: hidden;
    padding-top: 120px;
    border-right: 2px solid skyblue;
    border-top: 2px solid skyblue;
    border-bottom: 2px solid skyblue;
  }

  .sidenav a .navbtn {
      padding-left: -2px;
      padding-right: 0;
  }

  .sidenav a {
    padding: 27px 10px 27px 14px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }

  .sidenav a:hover {
    border: black solid 1px;
  }
/* SIDEBAR */

