html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* CONTAINER CSS */

.cnt-container {
    border-right:black solid 2px;
    border-left: black solid 2px; 
    margin: 0;
    height: auto;
    margin-left: 51px;
    height: 100%;
    display: flex;
}

/* CONTAINER CSS */

/* CALENDAR CSS */
#calendar {
    border: solid 2px black;
    margin: 10px 0 10px 0;
    padding: 8px;
    top: 40px;
    right: 10px;
    height: 500px;
    width: 500px;
    position: absolute;
    display: flexbox;
    z-index: 2;
}

#calhead {
    text-align: center;
    padding: 2px;
}

#calendar td {
    border: 1px black solid;
    height: 60px;
    width: 60px;
}

#calendar td.naDate{
    background-color:rgb(182, 176, 176);
}

#calendar td#today{
    background-color:turquoise;
}

.dateNum {
    position: relative;
    top: -25px;
    left: 1px;
}

#calendar table {
    right: 0;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    height: 480px;
    width: 480px;
}

/* CALENDAR CSS */

/* Events */

.events {
  border: solid 2px black;
  margin: 10px 0 10px 0;
  padding: 8px;
  top: 40px;
  left: 80px;
  height: 500px;
  width: 640px;
  position: absolute;
  display: flexbox;
  overflow: auto;
  z-index: 2;
}

.events .event {
  height: 100px;
  width: 625px;
  display: block;
  border: solid 2px black;
  margin: 4px;
}

.event .eHead {
  position: relative;
  top: 0px;
  left: 2px;
  text-align: center;
}

.event .timeC {
  position: relative;
  top: 40px;
  width: 140px;
  left: 470px;
  text-align: center;
}

.event .eNotes {
  position: relative;
  top: 5px;
  left: 0;
  text-align: center;
}

/* Events */

/* SIDEBAR */
.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightblue;
    overflow-x: hidden;
    padding-top: 120px;
    border-right: 2px solid skyblue;
    border-top: 2px solid skyblue;
    border-bottom: 2px solid skyblue;
  }

  .sidenav div.btnc .navbtn {
      padding-left: -2px;
      padding-right: 0;
      height: 25px;
      width: 25px;
      z-index: -1;
  }

  .sidenav div.userbtn .navbtn {
    padding-left: -2px;
    padding-right: 0;
    height: 25px;
    width: 25px;
    z-index: -1;
}

  .sidenav div {
    padding: 27px 10px 27px 14px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }

  .sidenav .btnc:hover {
    border: black solid 1px;
  }

  .sidenav .userbtn:hover {
    border: black solid 1px;
  }
/* SIDEBAR */

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: lightblue;
  margin: 10% auto;
  padding: 20px;
  border: 2px solid #888;
  width: 50%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold; 
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal */

